# Debug files
*.map
*.xml
*.opt
*.pp
*.mk
*.launch

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# CCS Project
.ccsproject
.cproject
.project
.setting
org.*
lnk_msp430g2553.cmd
MSP430G2553.ccxml
readme.txt
